.cartBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: larger;
    color: rgb(221, 201, 178);

}

.productImg {
    width: 45%;
    height: 25rem;
    align-self: center;
    justify-self: center;
    margin: 2rem;
}

.buttonContainer {
    display: flex;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}

.buttonBox {
    background-color: rgba(87, 121, 167, 0.7);
    padding: 0.7rem;
    border-radius: 2rem;
    display: flex;
    border: 2px solid white;
    color: white;
    &:hover {
        cursor: pointer;
         background-color: rgb(37, 49, 71);
    }
}

.buttonContainer > button {
    &:hover {
        filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
    }
}

.details {
    width: 25rem;
}

label {
    margin: 0.4rem;
}

.quantity {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    align-items: center;
}

.quantity > button {
    height: 2rem;
    width: 2rem;
}

