.addedCartBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: rgb(221, 198, 162);
}

.cartButtons {
    background-color: rgba(87, 121, 167, 0.7);
    padding: 0.7rem;
    border-radius: 2rem;
    border: 2px solid white;
    margin: 2rem;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: rgb(37, 49, 71);
        filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
    }
}

.wip {
    height: 5rem;
    width: 5rem;
    filter: invert(100%);
    margin-bottom: 2rem;
}

.errorMessage{
    display: flex;
    flex-direction: column;
    align-items: center;

}

 