
.carouselBanner {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);

}

.carouselHeading {
    font-size: larger;
    text-shadow: 0 0 2px rgb(77, 70, 70), 0 0 2px rgb(77, 70, 70), 0 0 2px rgb(77, 70, 70), 0 0 2px rgb(77, 70, 70);
}

.carouselCards {
    display: flex;
    width: 99vw;
    height: 25rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 5rem;
}

.featuredCard {
    width: 18vw;
    height: 23rem;
    display: flex;
    &:hover {
        filter: brightness(56%);
    }
}

.featuredHeading {
    position: absolute;
    bottom: 0;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    width: 18vw;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0;
    justify-content: space-between;   
   
}


.featuredHeading > h3 {
    margin-left: 1rem;
}

.featuredCard:hover .featuredHeading{
    display: flex;
    flex-direction: row;
}

.flowerImg {
    height: 100%;
    width: 100%;
}

.buttonOverlay {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 95vw;
    z-index: 1;
}

.navigateButton {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    &:hover{
        transform: scale(120%);
    }
   
}

.wish {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    border: none;

}

.wish > img {
    height: 4rem;
    width: 4rem;
}

.active {
    filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(300deg) saturate(200%);
}
