.banner {
    width: 100vw;
    height: 50vh;
}

section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    animation: fade-in 2.5s;
}

header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
}

.heading {
    font-size: 5rem;
    animation: fade-in 2s;
    color: white;
    text-shadow: 0 0 2px rgb(167, 161, 161), 0 0 2px rgb(167, 161, 161), 0 0 2px rgb(167, 161, 161), 0 0 2px rgb(167, 161, 161);
}




@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}