.flowerBox {
    height: auto;
    width: 20vw;
   background-color: rgba(114, 67, 67, 0.493);
    border-radius: 20px;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(233, 229, 225);
    padding-bottom: 0.8rem;
    border: 3px solid rgb(255, 255, 255);
}

.flowerBox > img {
    height: 410px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.buttonBox {
    background-color: rgba(87, 121, 167, 0.7);
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    border: 2px solid white;
    &:hover {
        background-color: rgb(108, 143, 207);

    }
}

.buttonBox > button {
    &:hover {
        filter: drop-shadow(0 0 0.7rem rgb(255, 255, 255));
    }
}

.flowerHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3rem;
    gap: 8rem;
}

.cardHeading {
    display: flex;
    justify-content: space-between;
    width: 90%;

}

.wish {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-top: 0.4rem;
}

.wish > img {
    height: 3rem;
    width: 3rem;
    &:hover {
        filter: drop-shadow(0 0 0.1rem rgba(255, 255, 255, 1));
        transform: scale(110%);
    }
}

.active {
    filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(300deg) saturate(200%);
}