.banner {
    width: 100vw;
}

section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
}